<div class="text-xl font-medium mb-2">Profile Password</div>
<div class="text-gray-600 mb-6">Update your profile password</div>

<form action="{{ path('app_profile') }}" method="POST">
	<div class="flex flex-col mb-8">
		<label>Current Password</label>
		<input type="password" name="profile-password-curr" class="border rounded-md border-gray-400 p-4 mt-4"/>
		<div class="text-red-600 pl-4 mt-1">Error Message</div>
	</div>
	<div class="flex flex-col mb-8">
		<label>New Password</label>
		<input type="password" name="profile-password-curr" class="border rounded-md border-gray-400 p-4 mt-4"/>
		<div class="text-red-600 pl-4 mt-1">Error Message</div>
	</div>
	
	<div class="flex flex-col mb-8">
		<label>Confirm Password</label>
		<input type="password" name="profile-password-curr" class="border rounded-md border-gray-400 p-4 mt-4"/>
		<div class="text-red-600 pl-4 mt-1">Error Message</div>
	</div>
    <button class="mt-4 w-full bg-sky-200 py-2 px-6 rounded-md hover:bg-sky-300">Save<span class="ml-3">✅</span></button>
</form>
